appdirs==1.4.4
appnope==0.1.0
asgiref==3.5.0
async-generator==1.10
attrs==21.4.0
autopep8==1.5.7
azure-common==1.1.27
azure-nspkg==3.0.2
backcall==0.2.0
beautifulsoup4==4.10.0
billiard==3.6.3.0
cached-property==1.5.1
certifi==2020.12.5
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
coverage==6.3.2
cryptography==36.0.2
distlib==0.3.4
Django==4.0.3
django-compat==1.0.15
django-cors-headers==3.11.0
django-discover-runner==1.0
django-environ==0.4.5
django-filter==21.1
django-hijack-admin==2.1.10
django-impersonate==1.5.1
django-livereload-server==0.4
django-rest-knox==4.2.0
django-tinymce==3.0.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
filelock==3.6.0
gunicorn==20.1.0
h11==0.13.0
idna==3.3
importlib-metadata==4.11.2
ipython-genutils==0.2.0
libmagic==1.0
lxml==4.8.0
Markdown==3.3.6
outcome==1.1.0
packaging==21.3
phonenumbers==8.12.9
pickleshare==0.7.5
platformdirs==2.5.2
ply==3.11
prompt-toolkit==3.0.7
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pycodestyle==2.7.0
pycountry==20.7.3
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.7.0
PyJWT==1.7.1
pyOpenSSL==22.0.0
pyparsing==3.0.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PySocks==1.7.1
python-http-client==3.3.1

