{% extends "employee/base.html" %}
{% load crispy_forms_tags %}

{% block app %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#menu1">View Employee</a></li>
    <li ><a  href="{% url 'details_employee'%}"> Back To Manage Employee</a></li>
   
</ul>
 <div class="tab-content ">
    
    <div id="menu1" class="tab-pane show">
    <h5 class="ml-4 text-success">Personal Details </h5>

          <div class="row">
        <div class="col">
            <div class="card h-100 text-center border-0">
                <div class="card-body">
                    
                    <div class="form-row">
                        <div class="form-group col-3">
                            {{ form.employee_first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-3">
                            {{ form.employee_middle_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-3">
                            {{ form.employee_last_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-3">
                            {{ form.gender|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-row">
                            <div class="form-group col-3">
                                {{ form.date_of_birth|as_crispy_field }}
                            </div>
                            <div class="form-group col-3">
                                {{ form.mobile_number|as_crispy_field }}
                            </div>
                            <div class="form-group col-3">
                                {{ form.alternate_mobile_number|as_crispy_field }}
                            </div>
                            <div class="form-group col-3">
                                {{ form.email_id|as_crispy_field }}
                            </div>
                            
                        </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            {{ form.maritial_staus|as_crispy_field }}
                        </div>
                        <div class="form-group col-3">
                            {{ form.blood_group|as_crispy_field }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

{% endblock app %}